### Data Manipulation

1. Find all Statistic Measures
2. Which subject has highest average ?
3. What are the Student IDs who got more tham 80% GPA?
4. How many female students are there in the class?
5. What is the ratio of male students and female students?
6. What are the marks of male students in statistics ?
7. What is the ID of the class topper ?
8. What is the gender of probabilty topper?
9. Create Pivot Table for gender and class?
10. Which subject got least average marks.?
11. How many male and female students are there ?
12. How many female student are there from class A?
13. Which class has more strength ?
14.Sort the data as per algebra ?
15. How many students got exactly 64 marks from functional analysis?

In [127]:
import numpy as np
import pandas as pd

In [128]:
student = pd.read_csv(r"C:\Users\LENOVO\Downloads\studens_data.csv")
student

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
0,1141,A,male,73.47,64,81,87,60,74,71,60
1,1142,A,female,71.22,57,50,51,51,55,62,61
2,1143,A,female,74.56,47,48,71,60,61,68,64
3,1144,A,female,72.89,46,72,38,60,29,54,51
4,1145,A,female,70.11,49,45,63,60,66,66,61
...,...,...,...,...,...,...,...,...,...,...,...
100,1241,A,female,88.34,87,83,92,98,93,86,90
101,1242,B,male,89.84,98,77,95,98,96,88,100
102,1243,B,male,88.82,83,80,91,98,93,95,71
103,1244,A,male,86.60,92,82,91,99,94,82,78
104,1245,A,male,93.71,93,97,99,100,97,90,90

### 1. Find all Statistic Measures

In [129]:
student.describe()

,ID,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
count,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000
mean,1193.000000,82.957048,76.057143,71.961905,78.942857,85.133333,83.876190,80.761905,75.323810
std,30.454885,6.053187,11.722618,12.197039,14.997326,10.269509,10.514363,10.296119,13.003324
min,1141.000000,63.490000,46.000000,38.000000,17.000000,51.000000,29.000000,54.000000,9.000000
25%,1167.000000,79.340000,67.000000,64.000000,71.000000,80.000000,79.000000,74.000000,67.000000
50%,1193.000000,84.110000,76.000000,73.000000,83.000000,87.000000,85.000000,81.000000,76.000000
75%,1219.000000,87.300000,84.000000,80.000000,91.000000,92.000000,92.000000,89.000000,85.000000
max,1245.000000,93.710000,98.000000,100.000000,99.000000,100.000000,97.000000,100.000000,100.000000

### 2. Which subject has highest average ?

In [163]:
average = student.loc[:,["Algebra","Calculus1","Calculus2","Statistics","Probability","Measure","Functional_analysis"]].mean()

print(average)

print("highest average =",average.idxmax())

Algebra                76.057143
Calculus1              71.961905
Calculus2              78.942857
Statistics             85.133333
Probability            83.876190
Measure                80.761905
Functional_analysis    75.323810
dtype: float64
highest average = Statistics

### 3. What are the Student IDs who got more tham 80% GPA?

In [131]:
student[student["GPA"] > 80]["ID"]

11     1152
13     1154
14     1155
15     1156
17     1158
       ...
100    1241
101    1242
102    1243
103    1244
104    1245
Name: ID, Length: 76, dtype: int64

### 4. How many female students are there in the class?

In [132]:
len(student[student["gender"] == "female"])

68

### 5. What is the ratio of male students and female students?

In [160]:
male = len(student[student["gender"] == "male"]) 

female = len(student[student["gender"] == "female"])

print(male ,":" ,female)

37 : 68

### 6. What are the marks of male students in statistics ?

In [134]:
student[student["gender"] == "male"]["Statistics"]

0       60
5       61
6       63
10      69
13      73
14      76
16      76
17      76
18      76
19      78
20      78
21      78
24      80
28      83
31      83
32      83
33      83
40      85
47      87
50      87
59      89
61      89
65      90
72      92
78      92
82      92
89      94
90      95
92      95
96      97
97      97
98      97
99      97
101     98
102     98
103     99
104    100
Name: Statistics, dtype: int64

### 7. What is the ID of the class topper ?

In [135]:
student[student["GPA"] > 93.5]["ID"]

104    1245
Name: ID, dtype: int64

### 8. What is the gender of probabilty topper?

In [197]:
max_gender = student.loc[student['Probability'].argmax()]["gender"]
max_gender

'female'

### 9. Create Pivot Table for gender and class?

In [150]:
pd.crosstab(student["gender"],student["class"])

class    A   B
gender
female  48  20
male    28   9

### 10. Which subject got least average marks.?

In [147]:
average = student.loc[:,["Algebra","Calculus1","Calculus2","Statistics","Probability","Measure","Functional_analysis"]].mean()

print(average)

print("highest average =",average.idxmin())

Algebra                76.057143
Calculus1              71.961905
Calculus2              78.942857
Statistics             85.133333
Probability            83.876190
Measure                80.761905
Functional_analysis    75.323810
dtype: float64
highest average = Calculus1

### 11. How many male and female students are there ?

In [136]:
len(student[(student["gender"] == "male") | (student["gender"] == "female")])

105

In [137]:
len(student["gender"])

105

### 12. How many female student are there from class A?

In [138]:
len(student[(student["gender"] == "female") & (student["class"] == "A")])

48

### 13. Which class has more strength ?

In [139]:
print(student["class"].value_counts())

print("which class has more strength =",student["class"].value_counts()[0])

A    76
B    29
Name: class, dtype: int64
which class has more strength = 76

### 14.Sort the data as per algebra ?

In [140]:
student.sort_values("Algebra")

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
3,1144,A,female,72.89,46,72,38,60,29,54,51
2,1143,A,female,74.56,47,48,71,60,61,68,64
4,1145,A,female,70.11,49,45,63,60,66,66,61
1,1142,A,female,71.22,57,50,51,51,55,62,61
9,1150,A,female,76.50,60,61,60,69,73,60,62
...,...,...,...,...,...,...,...,...,...,...,...
65,1206,A,male,86.37,95,76,87,90,86,94,84
75,1216,A,female,91.90,95,86,96,92,95,90,95
87,1228,A,female,88.62,95,65,97,94,97,85,85
97,1238,A,male,91.14,98,90,98,97,83,93,89
101,1242,B,male,89.84,98,77,95,98,96,88,100

### 15. How many students got exactly 64 marks from functional analysis?

In [141]:
len(student[student["Functional_analysis"] == 64])

8