### pandas series

1.Create pandas series with different data types in different ways
2.Find the attributes of Series of [10,30,40,1,3,6,14,18,23] with index starts from 100
3.create salaries of 30 employee salaries randomly from 30000-90000 then measure and describe the data using pandas series.
4.What are the similaraties and differences between pandas series and nnumpy array.Prove it with code.
5.create pandas series with ranges from 100 to 150 then apply indexing and slicing on it

In [2]:
import pandas as pd

In [3]:
import numpy as np

### 1.Create pandas series with different data types in different ways

In [52]:
# list  

numbers = list(range(40,50))
numbers = pd.Series(numbers,dtype = "float16")
numbers

0    40.0
1    41.0
2    42.0
3    43.0
4    44.0
5    45.0
6    46.0
7    47.0
8    48.0
9    49.0
dtype: float16

In [57]:
# tuple

fruits = ("orange","mango","apple","kiwi")
fruits = pd.Series(fruits,dtype = "object")
fruits

0    orange
1     mango
2     apple
3      kiwi
dtype: object

In [50]:
# array

ages = np.random.randint(10,40,10)
ages = pd.Series(ages,index = list(range(1,11)),dtype = "int8")
ages

1     18
2     12
3     35
4     21
5     26
6     12
7     34
8     17
9     39
10    36
dtype: int8

In [56]:
# dictionary

flowers = {1:"jasmin",2:"lotus",3:"rose",4:"whiterose"}
flowers = pd.Series(flowers)
flowers

1       jasmin
2        lotus
3         rose
4    whiterose
dtype: object

### 2.Find the attributes of Series of [10,30,40,1,3,6,14,18,23] with index starts from 100

In [26]:
list1 = [10,30,40,1,3,6,14,18,23]
list2 = pd.Series(list1,index = list(range(100,109)),dtype = "int8")
list2

100    10
101    30
102    40
103     1
104     3
105     6
106    14
107    18
108    23
dtype: int8

In [12]:
list2.head()  # by default return first 5 values

100    10
101    30
102    40
103     1
104     3
dtype: int8

In [13]:
list2.tail()  # by default last 5 values

104     3
105     6
106    14
107    18
108    23
dtype: int8

In [14]:
list2.info()  # it give information of data

<class 'pandas.core.series.Series'>
Int64Index: 9 entries, 100 to 108
Series name: None
Non-Null Count  Dtype
--------------  -----
9 non-null      int8
dtypes: int8(1)
memory usage: 81.0 bytes

In [15]:
list2.describe()  # give all descriptive statistics

count     9.000000
mean     16.111111
std      13.033078
min       1.000000
25%       6.000000
50%      14.000000
75%      23.000000
max      40.000000
dtype: float64

In [17]:
list2.astype("int16")  # change the data type

100    10
101    30
102    40
103     1
104     3
105     6
106    14
107    18
108    23
dtype: int16

In [19]:
list2.size  # no.of elements

9

In [20]:
list2.ndim  # dimension

1

In [21]:
list2.nbytes  # memory occupied by array

9

In [22]:
list2.items # total items

<bound method Series.items of 100    10
101    30
102    40
103     1
104     3
105     6
106    14
107    18
108    23
dtype: int8>

### 3.create salaries of 30 employee salaries randomly from 30000-90000 then measure and describe the data using pandas series

In [19]:
salaries = np.random.randint(30000,90000,30)
salaries

array([69712, 61599, 73660, 54224, 54450, 33446, 53816, 33938, 58070,
       58239, 30248, 54649, 79574, 88055, 81898, 69182, 72824, 57325,
       60291, 35822, 82603, 65035, 63895, 67944, 84003, 56924, 64092,
       58355, 81271, 62631])

In [8]:
salary = pd.Series(salaries)
salary

0     79765
1     39242
2     85651
3     79995
4     36063
5     67258
6     59952
7     77072
8     33664
9     68800
10    63680
11    51480
12    56052
13    34932
14    58381
15    32005
16    39882
17    84133
18    45642
19    53649
20    51865
21    81081
22    40262
23    41581
24    63184
25    34250
26    80552
27    56975
28    33525
29    62665
dtype: int32

In [9]:
salary.mean()  # mean

56441.26666666667

In [10]:
salary.median()  # median --- middle most value

56513.5

In [11]:
salary.mode()  # mode -- there is no repetitative values

0     32005
1     33525
2     33664
3     34250
4     34932
5     36063
6     39242
7     39882
8     40262
9     41581
10    45642
11    51480
12    51865
13    53649
14    56052
15    56975
16    58381
17    59952
18    62665
19    63184
20    63680
21    67258
22    68800
23    77072
24    79765
25    79995
26    80552
27    81081
28    84133
29    85651
dtype: int32

In [12]:
salary.max()  # maximum value

85651

In [13]:
salary.min()  # minimum value

32005

In [14]:
salary.var()  # variance

309993512.4781609

In [15]:
salary.std() # standard deviation

17606.632627454943

In [16]:
salary.quantile(0.25)  # quantile -- 25

39977.0

In [17]:
salary.quantile(0.75)  # quantile --- 75

68414.5

### 4.What are the similaraties and differences between pandas series and nnumpy array.Prove it with code.

In [ ]:
series --- index base
np.array --- not an indexed based

In [25]:
salarie = np.random.randint(30000,90000,30)  # np.array ---it doesnot follow index
salarie

array([33626, 50922, 75275, 38537, 59961, 73411, 58989, 85644, 36105,
       33018, 49746, 58383, 53093, 79057, 31318, 86988, 82340, 70668,
       30158, 65071, 64690, 67667, 30411, 68753, 72790, 63897, 51820,
       87458, 70183, 81466])

In [26]:
salaries = pd.Series(salarie)  # series --- follows index
salaries

0     33626
1     50922
2     75275
3     38537
4     59961
5     73411
6     58989
7     85644
8     36105
9     33018
10    49746
11    58383
12    53093
13    79057
14    31318
15    86988
16    82340
17    70668
18    30158
19    65071
20    64690
21    67667
22    30411
23    68753
24    72790
25    63897
26    51820
27    87458
28    70183
29    81466
dtype: int32

### 5.create pandas series with ranges from 100 to 150 then apply indexing and slicing on it

In [32]:
series = list(range(100,150))
series = pd.Series(series)
series

0     100
1     101
2     102
3     103
4     104
5     105
6     106
7     107
8     108
9     109
10    110
11    111
12    112
13    113
14    114
15    115
16    116
17    117
18    118
19    119
20    120
21    121
22    122
23    123
24    124
25    125
26    126
27    127
28    128
29    129
30    130
31    131
32    132
33    133
34    134
35    135
36    136
37    137
38    138
39    139
40    140
41    141
42    142
43    143
44    144
45    145
46    146
47    147
48    148
49    149
dtype: int64

In [33]:
series[0]   # indexing

100

In [34]:
series[0:10] # slicing

0    100
1    101
2    102
3    103
4    104
5    105
6    106
7    107
8    108
9    109
dtype: int64