### Take combination of float,interger,string

In [1]:
list1 = [ 1,2,3,4.5,2.3,"rani",5,"manu"]    
list1

[1, 2, 3, 4.5, 2.3, 'rani', 5, 'manu']

###  print only float values

In [3]:
def floa(n):
    if type(n) == float:
        return n
list1 = [ 1,2,3,4.5,2.3,"rani",5,"manu"]    
list1  
list(filter(floa,list1))

[4.5, 2.3]

### print only strings

In [4]:
def string(n):
    if type(n) == str:
        return n
list1 = [ 1,2,3,4.5,2.3,"rani",5,"manu"]    
list1  
list(filter(string,list1))

['rani', 'manu']

### print only float values

In [5]:
def integer(n):
    if type(n) == int:
        return n
list1 = [ 1,2,3,4.5,2.3,"rani",5,"manu"]    
list1  
list(filter(integer,list1))

[1, 2, 3, 5]

### Replace integer value with a name is called integer nd float value is called float nd string value is called string

In [6]:
float = list(filter(floa,list1))
float

[4.5, 2.3]

In [7]:
string = list(filter(string,list1))
string

['rani', 'manu']

In [8]:
integer = list(filter(integer,list1))
integer

[1, 2, 3, 5]

In [ ]:
Create a lambda function that takes two arguments and returns their sum.
Create another lambda function that takes a single argument and returns its square.
Use the lambda functions to calculate the sum and square of various numbers and print the results.
Define a list of integers.
Use the filter function to create a new list that contains only the even numbers from the original list.
Use the filter function again to create a new list that contains only numbers greater than 10 from the original list.
Print both filtered lists.
Define a list of strings where each string represents a number (e.g., ["1", "2", "3"]).
Use the map function to convert each string to an integer and store the result in a new list.
Use the map function again to square each integer in the new list and store the result in another new list.
Print both new lists.
Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age". Example: [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]
Use the filter function to create a new list that contains only the people who are older than 25.
Use the map function to create a new list that contains the names of the filtered people.
Print the list of names.
Create a program that reads a list of numbers from the user (you can use the input function for this).
Use map and filter functions to perform the following operations:
Square each number.
Filter out numbers that are not divisible by 3.
Print the result.

### Create a lambda function that takes two arguments and returns their sum.

In [1]:
sum = lambda x,y: x+y
sum(10,25)

35

### Create another lambda function that takes a single argument and returns its square.

In [2]:
square = lambda n: n**2
square(9)

81

### Use the lambda functions to calculate the sum and square of various numbers and print the results.

In [8]:
numbers = lambda *n: sum(n) 
numbers(2,4,6)

12

In [2]:
numbers = lambda n: n ** 2
numbers(6)

36

In [3]:
numbers = lambda *n: sum(n)** 2
numbers(2,4,6)

144

### Define a list of integers

In [13]:
integers = [2,3,4,5,6,7,8,9,10,12,11,13,14]
integers

[2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 11, 13, 14]

### Use the filter function to create a new list that contains only the even numbers from the original list.

In [26]:
def even(n):
    if n % 2 == 0:
        return n

In [27]:
integers = [2,3,4,5,6,7,8,9,10,12,11,13,14]
integers

[2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 11, 13, 14]

In [28]:
even_num = list(filter(even,integers))
even_num

[2, 4, 6, 8, 10, 12, 14]

### Use the filter function again to create a new list that contains only numbers greater than 10 from the original list.

In [24]:
def even(n):
    if n > 10:
        return n
integers = [2,3,4,5,6,7,8,9,10,12,11,13,14]
integers
greater = list(filter(even,integers))
greater

[12, 11, 13, 14]

### Print both filtered lists.

In [31]:
print(even_num)
print(greater)

[2, 4, 6, 8, 10, 12, 14]
[12, 11, 13, 14]

### Define a list of strings where each string represents a number (e.g., ["1", "2", "3"]).

In [32]:
string = ["20","45","35","15","25","10"]
string

['20', '45', '35', '15', '25', '10']

### Use the map function to convert each string to an integer and store the result in a new list.

In [44]:
def integer(n):
    if type(n) == str:
        return n

In [45]:
string1 = ["20","45","35","15","25","10"]
string1

['20', '45', '35', '15', '25', '10']

In [47]:
integer = list(map(int,string1))
integer

[20, 45, 35, 15, 25, 10]

### Use the map function again to square each integer in the new list and store the result in another new list.

In [43]:
def square(n):
        return n ** 2

In [49]:
s = list(map(square,integer))
print(s)

[400, 2025, 1225, 225, 625, 100]

### Print both new lists.

In [50]:
print(integer)
print(s)

[20, 45, 35, 15, 25, 10]
[400, 2025, 1225, 225, 625, 100]

### Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age". Example: [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]

In [66]:
dictionary = [{"name": "manu", "age": 21}, {"name": "rani", "age": 20},{"name": "ravi", "age": 45}]
dictionary

[{'name': 'manu', 'age': 21},
 {'name': 'rani', 'age': 20},
 {'name': 'ravi', 'age': 45}]

### Use the filter function to create a new list that contains only the people who are older than 25.

In [23]:
def age(dictionary):
    if dictionary["age"] > 25:
        return age 
n = list(filter(age,dictionary))
n

[{'name': 'ravi', 'age': 45}]

### Create a program that reads a list of numbers from the user (you can use the input function for this).

In [14]:
n = int(input("enter numbers::"))
list = []
for i in range(1,n):
     list.append(i)

enter numbers::5

In [15]:
list

[1, 2, 3, 4]

## Use map and filter functions to perform the following operations:

### Square each number.

In [9]:
def square(n):
    return n ** 2

In [10]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
list(map(square,list1))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### Filter out numbers that are not divisible by 3.
Print the result.

In [1]:
n = int(input("enter numbers::"))
list1 = []
for i in range(1,n):
     list1.append(i)

enter numbers::10

In [2]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
def number(n):
    if n % 3 != 0:
        return n
list1  
list(filter(number,list1))

[1, 2, 4, 5, 7, 8]