### Assignment Task 1: Tuple Basics Create a Python tuple containing the names of your favorite fruits. Write a Python program to print each fruit name from the tuple.

In [3]:
fruits=("mango","orange","graphs","banana","kiwi")
fruits

('mango', 'orange', 'graphs', 'banana', 'kiwi')

In [4]:
fruits[0]

'mango'

In [5]:
fruits[1]

'orange'

In [6]:
fruits[2]

'graphs'

In [7]:
fruits[3]

'banana'

In [8]:
fruits[4]

'kiwi'

### Assignment Task 2: Tuple Operations Given two tuples, write a Python program to concatenate them into a single tuple and then find the length of the resulting tuple.

In [9]:
fruits=("mango","orange","graphs","banana","kiwi")
veg=("potato","brinjal","mirchi","tamoto","bittergurd")

In [10]:
mix=fruits+veg

In [11]:
mix

('mango',
 'orange',
 'graphs',
 'banana',
 'kiwi',
 'potato',
 'brinjal',
 'mirchi',
 'tamoto',
 'bittergurd')

In [12]:
len(mix)

10

### Assignment Task 3: Set Creation Create a Python set containing the first 10 even numbers (2, 4, 6, ...). Write a program to display this set.

In [13]:
even_num={2,4,6,8,10,12,14,16,18,20}

In [14]:
print(even_num)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [15]:
type(even_num)

set

### Assignment Task 4: Set Operations Given two sets, write a Python program to find the union, intersection, and difference of these sets.

In [16]:
even_num={2,4,6,8,10,12,14,16,18,20}
numbers={1,2,3,4,5,6,7,8,9,10}

In [17]:
even_num.union(numbers)    #union

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18, 20}

In [18]:
numbers.union(even_num)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18, 20}

In [19]:
even_num.intersection(numbers)  #intersection

{2, 4, 6, 8, 10}

In [20]:
numbers.intersection(even_num)

{2, 4, 6, 8, 10}

In [21]:
even_num.difference(numbers)   #difference

{12, 14, 16, 18, 20}

In [22]:
numbers.difference(even_num)

{1, 3, 5, 7, 9}

### Assignment Task 5: Tuple and Set Conversion Write a Python program that takes a tuple of integers and converts it into a set. Then, find and print the maximum and minimum values from the set.

In [3]:
integers=(1,4,7,9,12,31,45)
integers

(1, 4, 7, 9, 12, 31, 45)

In [4]:
s=set(integers)

In [5]:
s

{1, 4, 7, 9, 12, 31, 45}

In [6]:
max(s)

45

In [7]:
min(s)

1

### Assignment Task 6: Tuple Immutability Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

### immutable

*we cannot change the given values because
we cannot add values.
*because of immutablity in tuple we do not have methods

In [33]:
relations=("father","mother","brother","sister","uncle")
relations

('father', 'mother', 'brother', 'sister', 'uncle')

In [34]:
relations.append("aunty")  #immutability_we cannot made changes

AttributeError: 'tuple' object has no attribute 'append'

### Assignment Task 7: Set Operations and Methods Write a Python program that takes a set of numbers and performs the following operations:

In [2]:
numbers={2,1,7,9,10,25,15,13}
numbers

{1, 2, 7, 9, 10, 13, 15, 25}

#### Add a new number to the set.

In [3]:
numbers.add(17)

In [4]:
numbers

{1, 2, 7, 9, 10, 13, 15, 17, 25}

#### Remove a number from the set

In [5]:
numbers.discard(9)

In [6]:
numbers

{1, 2, 7, 10, 13, 15, 17, 25}

#### Check if a specific number is in the set.

In [12]:
10 in numbers

True

#### Find the size of the set.

In [14]:
len(numbers)

8

### Assignment Task 8: Tuple Slicing Given a tuple of 10 elements, write a Python program to print the elements from the 3rd to the 7thposition using slicing

In [15]:
elements=(2,3,15,25,100,36,900,16,400,200)
len(elements)

10

In [20]:
n=list(elements)

In [21]:
n

[2, 3, 15, 25, 100, 36, 900, 16, 400, 200]

In [24]:
n[3:8]

[25, 100, 36, 900, 16]

### Assignment Task 9: Set Operations with Lists Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.

In [27]:
colors=["red","blue","green","black","red","green","white"]

In [28]:
colors

['red', 'blue', 'green', 'black', 'red', 'green', 'white']

In [30]:
c=set(colors)

In [31]:
c

{'black', 'blue', 'green', 'red', 'white'}

### Assignment Task 10: Tuple and Set Combinations Create a tuple containing the names of your friend's favorite movies and a set containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your

In [39]:
fri_fav=("raja","moorari","D","kushi")
my_fav={"kartikaya","mr","spider","raja"}
fri_fav

('raja', 'moorari', 'D', 'kushi')

In [40]:
my_fav

{'kartikaya', 'mr', 'raja', 'spider'}

In [43]:
movies=set(fri_fav)

In [44]:
movies

{'D', 'kushi', 'moorari', 'raja'}

In [47]:
my_fav.intersection(movies)

{'raja'}