## string escape characters

#### Task 1:

### 1.Create a string containing a sentence that includes both single and double quotes.

In [1]:
institute="innomatics 'research' labs"

In [2]:
institute

"innomatics 'research' labs"

In [3]:
institute='innomatics "research" labs'

In [4]:
institute

'innomatics "research" labs'

### 2.Use escape characters to include quotes within the string.

In [5]:
wishes="Good morning"
wishes

'Good morning'

In [10]:
print("""hello I am a data scientist
         I am from hydrabed""")

hello I am a data scientist
         I am from hydrabed

In [11]:
print('raju')

raju

In [12]:
print("hello I am a data scientist\nI am from hydrabed")

hello I am a data scientist
I am from hydrabed

In [13]:
print("hello\tI\tam\tdata\tscientist\tI\tam\tfrom\thydrabed")

hello	I	am	data	scientist	I	am	from	hydrabed

In [16]:
print("hello I am a data scientist\b I am from hydrabed")

hello I am a data scientist I am from hydrabed

### 3.Print the modified string.

In [19]:
wishes="Good morning"
wishes.replace('morning','evening')

'Good evening'

### Task 2:

### 1.Declare a string with a backslash \ character in it

In [32]:
print("helloevery\none")

helloevery
one

In [33]:
print("sum\total")

sum	otal

### 2.Demonstrate the use of the escape character to print the backslash itself.

In [29]:
print(r"helloevery\one")

helloevery\one

In [34]:
print("sum\\total")

sum\total

### 3.Print the resulting string.

In [35]:
string="sandhyA"

In [36]:
string

'sandhyA'

### Task 3:

### 1.Construct a string containing newline and tab escape sequences.

In [37]:
print("good after\nnoon") # new line

good after
noon

In [38]:
print("good after\tnoon") #tab

good after	noon

### 2.Print the string to display the formatted output

In [39]:
name=input("enter your name:")
city=input("enter your city:")

enter your name:rani
enter your city:bangolare

In [41]:
print("i am "+name+" i am from "+city)

i am rani i am from bangolare

### indexing and slicing

### Task 4:

In [3]:

sentence = "I want to become Data Scientist"

In [45]:
sentence

'I want to become Data Scientist'

### 2.Access and print the first character of the string using indexing.

In [46]:
sentence[0]

'I'

### 3.Access and print the last character of the string using negative indexing

In [47]:
sentence[-1]

't'

### Task 5:

### 1.What are possible ways yo extract Scientist(use forward and reverse)

In [4]:
sentence

'I want to become Data Scientist'

In [50]:
sentence[22:31:1] #forward [start:stop:step]

'Scientist'

In [43]:
sentence[-1:-10:-1] #REVERSE

'tsitneicS'

In [10]:
sentence[-10::]

' Scientist'

### 2.Use slicing to extract and print the first word from the string

In [14]:
sentence[0:1:]

'I'

### 3.Use slicing to extract and print the last three characters of the string

In [47]:
sentence[-1:-4 :-1 ]

'tsi'

### Task 6:

In [19]:
name = "Innomatics Reserach Labs"

In [20]:
name

'Innomatics Reserach Labs'

### 2.Apply slicing to extract a substring that includes the second to fifth characters.

In [21]:
name[2:7:1]

'nomat'

### 3.Print the extracted substring.

In [22]:
name[11:20:]

'Reserach '

### Task 7:

In [25]:
string = "Python@1234"

### 2.Use slicing to extract every second character from the string

In [45]:
string[::2]

'Pto@24'

### 3.Print the resulting sliced string.

In [29]:
string[0:11:1]

'Python@1234'

### Task 8:

### 1.print last five letters

In [31]:
string[-1:-6:-1]

'4321@'

### 2.Utilize slicing to reverse the word order in the string.

In [33]:
string[-1:-12:-1]

'4321@nohtyP'

### 3.Print the string with the words in the reversed orde

In [36]:
string[-1:-12:-1]

'4321@nohtyP'

### Task 9:

In [37]:
a = "123123123"

### 2.Apply slicing to extract only the numeric characters at odd positions.

In [38]:
a[1:9:2]

'2132'

### 3.Print the sliced result.

In [39]:
a[0:9:1]

'123123123'