### file handling + time

### Create a Python script that simulates a simple login system. The script should prompt the user to enter their username and password. If the entered username and password match the predefined credentials, the script should log a successful login event to a log file. If the credentials do not match, it should log a failed login attempt to the log file. Example Output Assuming the predefined credentials are username: "user123" and password: "pass123", here's an example output of the script:

please enter your username: user123
please enter your password: pass123
login successful for user123(2023-07-26 15:00:01)

please enter your username: admin
please enter your password: 1234
login failed for admin(2023-07-26 15:01:01)

In [5]:
import time

username = "sandhya123"
password = "chinta123"

user_name = input("enter your username::")
pass_word = input("enter your password::")

now = time.strftime("%m/%d/%Y, %H:%M:%S")  

if (username == user_name) and (password == pass_word):
    print(f'login successful for sandhya123 ({now})')
    
else:
    print(f'login failed for sandhya123 ({now})')

enter your username::sandhya123
enter your password::chinta
login failed for sandhya123 (09/29/2023, 20:47:57)

Create any 5 of following modules

a. Restaurant

b. IPL

c. Mathematics

d. Data Science

e. India

f. Shopping mall

g. Amazon_price

Do some research while creating them

### mathmatics

In [7]:
import mathmatic

In [8]:
mathmatic.authors()

jhon
Newton
Hardy

In [10]:
mathmatic.operations(10,20)

30
-10
200
0.5
10

In [11]:
mathmatic.symbols()

+
-
*
/

In [12]:
mathmatic.types()

applied mathmatics
pure mathmatics

### Restaurant

In [14]:
import restaurant

In [15]:
restaurant.dishes()

chicken biryani
veg pulov
Roti
Noodles
fried rice
mushroom biryani
panner biryani

In [16]:
restaurant.specials()

mushroom biryani
chicken biryani
panner biryani

In [17]:
restaurant.prices()

chicken biryani:250
veg pulov:80
Roti:8
Noodles:100
fried rice:90
mushroom biryani:200
panner biryani:220

In [18]:
restaurant.drinks()

thumsup
butter milk
maza

### Amazon_price

In [19]:
import amazon

In [20]:
amazon.footware()

layasa:400
woodland:800
liberty:280
DR plus:650

In [21]:
 amazon.kurtis()

avasa:600
Ruida:400
naira:500
jaipur kurti:800

In [22]:
 amazon.mobiles()

one plus:40000
vivo:15000
Realme:10000
Nokia:1000

In [23]:
 amazon.shirts()

Arrow:1100
Indoprimo:500
U-TURN:400

### IPL

In [24]:
import IPL

In [25]:
IPL.citys()

bangalore
chennai
mumbai
rajastan

In [26]:
IPL.toss()

fileding
bating

In [27]:
IPL.teams()

Kolkata Knight Riders
chennai super kings
mumbai indians
rajastan rayals

In [28]:
IPL.season()

2021
2022
2023

### India

In [29]:
import India

In [30]:
India.citys()

hyderabed
bangalore
chennai
mumbai

In [31]:
India.festivals()

Dasara
Sankranti
Diwali
Cristmas
moharam

In [32]:
India.languages()

Telugu
Hindi
English
urdu
kanada
malayalam
marati

In [33]:
India.religions()

Hindu
Muslim
Cristian